## Data Science I : Explore JSON format and Introduction to APIs

** Exercise 5 : Explore JSON format and APIs

Visit the site www.pokeapi.co  (provides a free API to practice consuming info in json format)  

Extract the first 20 pokémon characters (by default you get 20 pokémons), when calling the pokemon endpoint, as in:  
https://pokeapi.co/api/v2/pokemon  
for each Pokémon character you must also obtain its height and weight. The height and weight information can be gathered by using the detail pokemon url, as in: https://pokeapi.co/api/v2/pokemon /{id}  

As you get the data for each Pokémon, store it in a list, where every element is a tuple of this form: (name, height, weight)  

Then use the list to load a pandas data frame

In [4]:
# Import libraries
import requests
import json
import pandas as pd

In [6]:
# Call api
req = requests.get("https://pokeapi.co/api/v2/pokemon")

In [8]:
#Extract the first 20 pokemon characters using the api to retrieve the URL, name, and url id number

pokemon_list = []
if req.status_code == 200:
    print('Successful GET request')
    print('Content-Type = ', req.headers['Content-Type']) 
    print('Content-Type = ', req.headers['Date']) 
    
    
    #Unserialize text returned
    data = json.loads(req.text)
    
    #returns a list
    characters = data['results']

    #for each element in the list
    for pokemon in characters:
        num = pokemon['url'].split('/')[6]
        #print('Name:', pokemon['name'])
        #print('URL and num:', pokemon['url'],num)
        tuple = (pokemon['name'], pokemon['url'], num)
        print(tuple)
        pokemon_list.append(tuple)
  
    #print(req.text)
else:
    print('Unsuccessful GET request, code: ', req.status_code)

Successful GET request
Content-Type =  application/json; charset=utf-8
Content-Type =  Tue, 15 Apr 2025 15:35:35 GMT
('bulbasaur', 'https://pokeapi.co/api/v2/pokemon/1/', '1')
('ivysaur', 'https://pokeapi.co/api/v2/pokemon/2/', '2')
('venusaur', 'https://pokeapi.co/api/v2/pokemon/3/', '3')
('charmander', 'https://pokeapi.co/api/v2/pokemon/4/', '4')
('charmeleon', 'https://pokeapi.co/api/v2/pokemon/5/', '5')
('charizard', 'https://pokeapi.co/api/v2/pokemon/6/', '6')
('squirtle', 'https://pokeapi.co/api/v2/pokemon/7/', '7')
('wartortle', 'https://pokeapi.co/api/v2/pokemon/8/', '8')
('blastoise', 'https://pokeapi.co/api/v2/pokemon/9/', '9')
('caterpie', 'https://pokeapi.co/api/v2/pokemon/10/', '10')
('metapod', 'https://pokeapi.co/api/v2/pokemon/11/', '11')
('butterfree', 'https://pokeapi.co/api/v2/pokemon/12/', '12')
('weedle', 'https://pokeapi.co/api/v2/pokemon/13/', '13')
('kakuna', 'https://pokeapi.co/api/v2/pokemon/14/', '14')
('beedrill', 'https://pokeapi.co/api/v2/pokemon/15/', '15')
('pidgey', 'https://pokeapi.co/api/v2/pokemon/16/', '16')
('pidgeotto', 'https://pokeapi.co/api/v2/pokemon/17/', '17')
('pidgeot', 'https://pokeapi.co/api/v2/pokemon/18/', '18')
('rattata', 'https://pokeapi.co/api/v2/pokemon/19/', '19')
('raticate', 'https://pokeapi.co/api/v2/pokemon/20/', '20')

In [10]:
# For each Pokémon character obtain the height and weight in addition to its name.
pokemon_data_list = []
for pokemon in pokemon_list:
    poke_name, poke_url, poke_num = pokemon
    #print('Calling api for pokemon: ', poke_name, poke_url)
    req = requests.get(poke_url)
    if req.status_code == 200:
        poke_data = json.loads(req.text)
        pokemon_name = poke_name
        pokemon_ht   = poke_data['height']
        pokemon_wt   = poke_data['weight']
        #print('here', poke_data['height'], poke_data['weight'])
        pokemon_tuple = (pokemon_name, pokemon_ht, pokemon_wt)
        pokemon_data_list.append(pokemon_tuple)
        print(pokemon_data_list)
    else:
        print('Unsuccessful GET request for pokemone: ', poke_name)

[('bulbasaur', 7, 69)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90), ('wartortle', 10, 225)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90), ('wartortle', 10, 225), ('blastoise', 16, 855)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90), ('wartortle', 10, 225), ('blastoise', 16, 855), ('caterpie', 3, 29)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90), ('wartortle', 10, 225), ('blastoise', 16, 855), ('caterpie', 3, 29), ('metapod', 7, 99)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90), ('wartortle', 10, 225), ('blastoise', 16, 855), ('caterpie', 3, 29), ('metapod', 7, 99), ('butterfree', 11, 320)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90), ('wartortle', 10, 225), ('blastoise', 16, 855), ('caterpie', 3, 29), ('metapod', 7, 99), ('butterfree', 11, 320), ('weedle', 3, 32)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90), ('wartortle', 10, 225), ('blastoise', 16, 855), ('caterpie', 3, 29), ('metapod', 7, 99), ('butterfree', 11, 320), ('weedle', 3, 32), ('kakuna', 6, 100)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90), ('wartortle', 10, 225), ('blastoise', 16, 855), ('caterpie', 3, 29), ('metapod', 7, 99), ('butterfree', 11, 320), ('weedle', 3, 32), ('kakuna', 6, 100), ('beedrill', 10, 295)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90), ('wartortle', 10, 225), ('blastoise', 16, 855), ('caterpie', 3, 29), ('metapod', 7, 99), ('butterfree', 11, 320), ('weedle', 3, 32), ('kakuna', 6, 100), ('beedrill', 10, 295), ('pidgey', 3, 18)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90), ('wartortle', 10, 225), ('blastoise', 16, 855), ('caterpie', 3, 29), ('metapod', 7, 99), ('butterfree', 11, 320), ('weedle', 3, 32), ('kakuna', 6, 100), ('beedrill', 10, 295), ('pidgey', 3, 18), ('pidgeotto', 11, 300)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90), ('wartortle', 10, 225), ('blastoise', 16, 855), ('caterpie', 3, 29), ('metapod', 7, 99), ('butterfree', 11, 320), ('weedle', 3, 32), ('kakuna', 6, 100), ('beedrill', 10, 295), ('pidgey', 3, 18), ('pidgeotto', 11, 300), ('pidgeot', 15, 395)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90), ('wartortle', 10, 225), ('blastoise', 16, 855), ('caterpie', 3, 29), ('metapod', 7, 99), ('butterfree', 11, 320), ('weedle', 3, 32), ('kakuna', 6, 100), ('beedrill', 10, 295), ('pidgey', 3, 18), ('pidgeotto', 11, 300), ('pidgeot', 15, 395), ('rattata', 3, 35)]
[('bulbasaur', 7, 69), ('ivysaur', 10, 130), ('venusaur', 20, 1000), ('charmander', 6, 85), ('charmeleon', 11, 190), ('charizard', 17, 905), ('squirtle', 5, 90), ('wartortle', 10, 225), ('blastoise', 16, 855), ('caterpie', 3, 29), ('metapod', 7, 99), ('butterfree', 11, 320), ('weedle', 3, 32), ('kakuna', 6, 100), ('beedrill', 10, 295), ('pidgey', 3, 18), ('pidgeotto', 11, 300), ('pidgeot', 15, 395), ('rattata', 3, 35), ('raticate', 7, 185)]

In [11]:
# load a pandas data frame
df_pokemon = pd.DataFrame(pokemon_data_list, columns=['Name', 'Weight', 'Height'])
df_pokemon

          Name  Weight  Height
0    bulbasaur       7      69
1      ivysaur      10     130
2     venusaur      20    1000
3   charmander       6      85
4   charmeleon      11     190
5    charizard      17     905
6     squirtle       5      90
7    wartortle      10     225
8    blastoise      16     855
9     caterpie       3      29
10     metapod       7      99
11  butterfree      11     320
12      weedle       3      32
13      kakuna       6     100
14    beedrill      10     295
15      pidgey       3      18
16   pidgeotto      11     300
17     pidgeot      15     395
18     rattata       3      35
19    raticate       7     185

In [14]:
df_pokemon.count()

Name      20
Weight    20
Height    20
dtype: int64